<form #form="ngForm" (ngSubmit)="submit(form.value)">
  <div class="form-group">
    <label for="name">Course Name</label>
    <input ngModel name="courseName" #courseName="ngModel" required minlength="3" type="text" id="name"
      class="form-control" />
    <div *ngIf="courseName.touched && courseName.invalid">
      <p *ngIf="courseName.errors.required" class="alert alert-danger">
        Course name is required
      </p>
      <p *ngIf="courseName.errors.minlength" class="alert alert-danger">
        Course name should be minimum
        {{ courseName.errors.minlength.requiredLength }} characters
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select ngModel name="category" #category="ngModel" required id="category" class="form-control">
      <option value=""></option>
      <option *ngFor="let category of categories" [value]="category.id">{{
        category.name
      }}</option>
    </select>
    <div *ngIf="category.touched && category.errors" class="alert alert-danger">
      Category is required
    </div>
  </div>
  <label for="guarantee">
    <input ngModel name="guarantee" type="checkbox" id="guarantee" class="formControl" />
    30 Days Money Back Guarantee
  </label>
  <p>{{ form.value | json }}</p>
  <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
    Create
  </button>
</form>
