<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink='/' class="navbar-brand" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink='/misc' routerLinkActive='active' class="nav-link">Miscellaneous</a>
    </li>
    <li class="nav-item">
      <a routerLink='/forms' routerLinkActive='active' class="nav-link">Forms</a>
    </li>
    <li class="nav-item">
      <a routerLink='/posts' routerLinkActive='active' class="nav-link">Http Service</a>
    </li>
    <li class="nav-item">
      <a routerLink='/followers' routerLinkActive='active' class="nav-link">Github API</a>
    </li>
  </ul>
</nav>
