<h1>Angular</h1>

<container title="Authors Component">
  <authors></authors>
</container>

<container title='NgModel Component'>
  <ngmodel></ngmodel>
</container>

<container title='Truncate Pipe'>
  <truncate></truncate>
</container>

<container title="Event Handling etc.">
  <eventhandling></eventhandling>
</container>

<container title='Favorite Component'>
  <favorite [isFavorite]='post.isFavorite' (change)='onFavoriteChanged($event)'></favorite>
</container>

<container title="Like Component">
  <like class="container" [likesCount]='tweet.likesCount' [isActive]='tweet.isLiked' (change)='onLikeChanged()'
    class=''>
  </like>
</container>

<container title='Title Pipe'>
  <titleCase></titleCase>
</container>

<container title="Panel Component">
  <panel>
    <div class="heading">Heading</div>
    <div class="body">
      <h2>Body</h2>
      <p>Some content</p>
    </div>
  </panel>
</container>


<container title="Ngif Container">
  <ngif></ngif>
</container>

<container title='Switch directive in action (*NgSwitch)'>
  <switch></switch>
</container>

<container title='Change detection in For directive'>
  <changedetection></changedetection>
</container>


<container title="Zippy Container">
  <app-zippy title='Shipping Details'>
    Shipping Details Content
  </app-zippy>
  <app-zippy title="Billing Details">
    Billing Details Content
  </app-zippy>
</container>

<container title='Validated Template Form'>
  <contact-form></contact-form>
</container>

<container title='Validated Reactive Form'>
  <signup-form></signup-form>
</container>

<container title='Add topics to array -form'>
  <topic-form></topic-form>
</container>

<container title='Reset password form'>
  <reset-password></reset-password>
</container>

<container title='Error handled http services'>
  <posts></posts>
</container>
